{% extends 'base.html' %}

{% block content %}

    <br>
  <div style="background-color:#cc0000;border-style:solid;border-width:8px;width:50%;margin-left:100px;border-radius:20px;">
    <h3>Hey there! We're UAM's students who're doing theirs HCI project.</h3>
  </div>
    <br>
  <div style="background-color:white;border-style:solid;border-width:8px;width:50%;margin-left:200px;border-radius:20px;">
    <h3>
      Find us:</h3>
    <p>
      AMU Faculty of Social Sciences<br>Szamarzewskiego 89<br>60-568 Poznań</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2874.2210969147236!2d16.880817323602628!3d52.41394172733281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8af857d177acabf7!2sAMU%20Faculty%20of%20Social%20Sciences!5e0!3m2!1sen!2spl!4v1573942081701!5m2!1sen!2spl" height="300" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
    <br>
  <div style="background-color:black;border-style:solid;border-width:8px;width:50%;color:white;margin-left:100px;border-radius:20px;">
    <h3>
      Email us:</h3>
    <p>
      nat.kawecka@gmail.com<br>m.gajdziszewski16@gmail.com</p>
  </div>
  <br>
  <div style="background-color:#cc0000;border-style:solid;border-width:8px;width:50%;margin-left:200px;border-radius:20px;">
    <h3>To create this website, we used:</h3>
    <p>Lyrics we used: <a style="color:white;" href="https://www.tekstowo.pl">Tekstowo.pl</a></p>
    <p>Photos we used: <a style="color:white;" href="http://www.greendayauthority.com/photos/">Greendayauthority.com</a></p>
  </div>
{% endblock %}
